body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    
}

.type-in {
    text-align: center;
}

.type-in input {
    width: 200px; /* Set the width of the input field */
    padding: 10px; /* Add some padding to the input field */
    margin: 0 auto; /* Center the input field */
    display: block; /* Make the input field a block-level element */
}

h1{
    color: antiquewhite;
    font-family: "Poppins", sans-serif;
    font-size: xx-large;
}

#input{
    width: 200px; /* Set the width of the input field */
    padding: 10px; /* Add some padding to the input field */
    margin: 0 auto; /* Center the input field */
    display: block; /* Make the input field a block-level element */
    border-radius: 10px; /* Add rounded corners */
}
body{
 
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);

}


.search-box{
    width: 100%;
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-box input{
    color: #06283D;
    width: 100%;
    font-size: 24px;
    font-weight: 500;
    padding-left: 32px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-indent: 10px; /* Move the placeholder text 10px to the left */
}

.search-box input::placeholder{
    font-size: 20px;
    font-weight: 500;
    color: #06283D;
    text-transform: capitalize;
}

.search-box button{
    cursor: pointer;
    width: 50px;
    height: 50px;
    color: #06283D;
    background: #dff6ff;
    border-radius: 50%;
    font-size: 22px;
    transition: 0.4s ease;
}

.search-box button:hover{
    color: #fff;
    background: #06283D;
}

.search-box i{
    position: absolute;
    color: #06283D;
    font-size: 28px;
    padding-left: 10px;
}
#search-button{
    padding-left: 20px;
}

.weather-overlay{
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 10px;
}

.weather-overlay img{
    width: 60%;
}

.weather-overlay .temperature{
    position: relative;
    color: #06283D;
    font-size: 4rem;
    font-weight: 800;
    margin-top: 30px;
    margin-left: -16px;
}

.weather-overlay .temperature span{
    position: absolute;
    margin-left: 4px;
    font-size: 1.5rem;
}

.weather-overlay .description{
    color: #06283D;
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
}

.weather-details{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.weather-details .humidity, .weather-details .wind{
    display: flex;
    align-items: center;
    width: 50%;
    height: 100px;
}

.weather-details .humidity{
    padding-left: 20px;
    justify-content: flex-start;
}

.weather-details .wind{
    padding-right: 20px;
    justify-content: flex-end;
}

.weather-details i{
    color: #06283D;
    font-size: 26px;
    margin-right: 10px;
    margin-top: 6px;
}

.weather-details span{
    color: #06283D;
    font-size: 22px;
    font-weight: 500;
}

.weather-details p{
    color: #06283D;
    font-size: 14px;
    font-weight: 500;
}

.not-found{
    width: 100%;
    text-align: center;
    margin-top: 50px;
    scale: 0;
    opacity: 0;
    display: none;
}

.not-found img{
    width: 70%;
}

.not-found p{
    color: #06283D;
    font-size: 22px;
    font-weight: 500;
    margin-top: 12px;
}

.weather-overlay, .weather-details{
    scale: 0;
    opacity: 0;
}

.fadeIn{
    animation: 0.5s fadeIn forwards;
    animation-delay: 0.5s;
}

@keyframes fadeIn{
    to {
        scale: 1;
        opacity: 1;
    }
}